[Unit]
Description=gunicorn daemon
After=network.target

[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/home/ubuntu/team-project-cmpe-2020-02-spartans/Backend/restaurant_review
ExecStart=/home/sid/sjsu/202/team-project-cmpe-2020-02-spartans/env/bin/gunicorn \
          --access-logfile - \
          --workers 3 \
          --bind 0.0.0.0:8000 \
          restaurant_review.wsgi:application
[Install]
WantedBy=multi-user.target