/* .index-container {
    background-color: #f8f8f8;
    color: #333;
    padding: 20px;
}

.index-header h1 {
    font-size: 3em;
    color: #ff6347;
    text-align: center;
    margin-top: 20px;
}  */
.index-container {
    position: relative;
    overflow: hidden; /* Ensure no overflow issues with animations */
}

.index-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, #a5f2ea, #89f8d1, #599ef2, #53354a);
    background-size: 300% 300%;
    animation: gradientAnimation 12s ease infinite;
    z-index: -1; /* Place it behind the existing content */
}

@keyframes gradientAnimation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}



.navbar {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.nav-item, .login-btn {
    background: #007bff;
    color: #fff;
    border: none;
    padding: 8px 16px;
    margin: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 5px;
}

.nav-item:hover, .login-btn:hover {
    background: #ff6347;
    color: #fff;
}

.search-section {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.search-form {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.search-input, .zip-input, .search-btn, .select-dropdown {
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.map-section {
    margin-top: 30px;
}

.restaurant-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
}

.restaurant-card {
    background: #fff;
    padding: 20px;
    width: 250px;
    border-radius: 10px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: flex;
    flex-direction: column;  /* Stack the content vertically */
    justify-content: space-between;  /* Space between content and button */
    height: 420px;  /* Ensure cards have a consistent height */
    transition: transform 0.3s;
}

.restaurant-card button {
    align-self: flex-end; /* Align to the bottom of the card */
    margin-top: auto; /* Push the button to the bottom by taking up available space above it */
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.restaurant-card h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.restaurant-card p {
    font-size: 1em;
    margin: 5px 0;
}

.restaurant-card .view-details-btn:hover {
    background: #ff6347;
}


.restaurant-card:hover {
    transform: scale(1.05);
}
